# Random backup garbage
*~
.*.swp

# Local stuff
/config.local

# Stuff generated during builds
/base
/diff
/install
/merged
/target
/updates
initrd.img
/instenv
/trees

# Something I sometimes use for testing
/tmp

# Needed since my work directory is a mounted filesystem image
lost+found

# Some experimental stuff
extra.cfg

# btrfs snapshots for drebugging
/backups
