# Random backup garbage
*~
.*.swp

# Stuff generated during builds
/base
/diff
/install
/merged
/target
/updates
initrd.img
/instenv
/trees/*
!/trees/99-patches

# Something I sometimes use for testing
/tmp



